html,body
{
	font-family: Helvetica, Arial, sans-serif;
	background: #F6F6F6;
	color:#394EFF;
}
#titles
{
	font-size: 50px;
	font-family: 'Patua One';
	line-height: 53px;
	font-weight: 400px;"
	width: 90%;
}
#bg-home
{
	background-size: cover;
	width: 100%;
	height: 700px;
}
.line-2
{
	  background-color: #394EFF;
	  height: 2.5px;
	  width: 90%;
}
.line-1
{
	  background-color: #394EFF;
	  height: 1.5px;
	  width: 90%;
}
#par
{
	text-align: left;
	font-family: Helvetica;
	font-size:17px;
	line-height: 26px;
	font-weight: 400px;
}
#space
{
	width: 20px;
	height: auto;
	float:left;
}
@media screen and (max-width: 800px){
#titles
{
	font-size: 6vmax;
}
}