@import url('https://fonts.googleapis.com/css?family=Lora');
html,body{
	background-image:url("http://localhost:8111/28-Dec-17/images/canvas.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: lora;
	margin: 0px;
}
#headers
{
	background-color: #333;
	color: #ffffff;

}